*.agdai
MAlonzo/**
-- SELECT 
--      CASE 
--         WHEN ranking <= 10 THEN 'Rank 1-10'
--         WHEN ranking > 10  and ranking <= 100 THEN 'Rank 11-100'
--         WHEN ranking > 100 and ranking <= 500 THEN 'Rank 101-500'
--         WHEN ranking > 500 and ranking <= 1000 THEN 'Rank 501-1000'
--         WHEN ranking > 1000 and ranking <= 1000 THEN 'Rank 1001 to 10000'
--         ELSE 'Rank > 10000'
--     END AS ranking,
--     sum(total_aum) as AUM
-- FROM query_2865788
-- group by ranking

With breakdown as (
SELECT 
     CASE 
        WHEN ranking <= 10 THEN 'Rank 1-10'
        WHEN ranking > 10  and ranking <= 100 THEN 'Rank 11-100'
        WHEN ranking > 100 and ranking <= 500 THEN 'Rank 101-500'
        WHEN ranking > 500 and ranking <= 1000 THEN 'Rank 501-1000'
        WHEN ranking > 1000 and ranking <= 10000 THEN 'Rank 1001 to 10000'
        ELSE 'Rank > 10000'
    END AS ranking,
    total_aum
FROM query_2865788
)

SELECT 
    ranking, 
    sum(total_aum) as AUM
FROM breakdown
group by ranking
